body {
	margin: 0;
	font-family: sans-serif;
}

/* Gerenal */

.to-uppercase {
	text-transform: uppercase;
}
.clearfix {
	clear: both;
}
.active {
	color: #1c44e4;
}
.button {
	border: none;
	background: linear-gradient(to right, #1345e6 20%, #ed239f 51%, #1345e6 100%);
	background-size: 200% auto;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	padding: 15px 30px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.4s ease;
}
.button:hover {
	background-position: right center;
}
.blur-line {
	display: inline-block;
	position: relative;
	top: -3px;
	margin-left: 5px;
	margin-top: -2px;
	width: 80px;
	height: 4px;
	background: rgba(237, 35, 159, 0.6);
	filter: blur(4px);
}

.subtitle {
	letter-spacing: 2px;
	font-weight: 500;
	color: #797979;
	text-transform: uppercase;
}
/* Main header */
.main-banner {
	background: url('../img/home-banner.png') no-repeat top center;
	background-position: center;
	background-size: cover;
	min-height: 670px;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	z-index: 1;
}

.main-header__brand {
	display: inline-block;
	vertical-align: middle;
}
.main-header__brand img {
	width: 60px;
}
.main-header__brand a {
	text-decoration: none;
}
.main-navigation {
	display: inline-block;
	vertical-align: middle;
}

.main-navigation__item {
	display: inline-block;
	padding: 10px;
}
.main-navigation__item a {
	color: #05364d;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
}

.main-navigation__item a:hover {
	color: #efb6df;
	cursor: pointer;
}
.main-navigation__item.active a {
	color: #efb6df;
}
