/*  Main section */

.main-section {
	padding: 100px 30px;
}
.main-section > div {
	width: 50%;
	float: left;
}
.main-section__image {
	text-align: right;
}

.main-section__welcome {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	letter-spacing: 2px;
	color: #797979;
}
.main-section__introduction {
	margin: 20px 0;
	font-size: 60px;
	font-weight: 500;
	color: #05364d;
}
.main-section__postion {
	color: #05364d;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 20px;
}

.main-section__networks {
	width: 25%;
}
.main-section__networks a {
	color: #cdcaca;
	font-size: 20px;
	margin-right: 16px;
	display: inline-block;
	cursor: pointer;
}
.main-section__networks a:hover i {
	color: #1c44e4;
}

.main-section__action {
	margin-top: 20px;
}

/* Statics section */

.statics {
	margin-top: 100px;
	/* background-color: #efb6df; */
}

.statics__item {
	display: inline-block;
	background-color: #f8faff;
	text-align: center;
	padding: 5px 10px;
	width: 15%;
	margin-right: 20px;
}

.statics__number {
	font-size: 27px;
	margin-bottom: 5px;
	/* color: #1c44e4; */
	background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.statics__title {
	font-size: 16px;
	color: #797979;
	font-weight: 300;
}

/* About-me section  */

.about-me {
	padding: 100px 0;
}

.about-me > div {
	width: 50%;
	float: left;
}

.about-me__image img {
	width: 90%;
}

.about-me__title {
	font-size: 42px;
	font-weight: 700;
	line-height: 52px;
	margin-top: 10px;
	text-transform: capitalize;
	color: #05364d;
}
.about-me__description {
	text-align: left;
	color: #797979;
	font-size: 14px;
	font-weight: 300;
	line-height: 27px;
}
.about-me__action {
	margin-top: 40px;
}

/* Sevices section */

.services {
	padding: 100px 0;
}
.section-title {
	font-size: 42px;
	font-weight: 700;
	line-height: 52px;
	margin-top: 10px;
	text-transform: capitalize;
	color: #05364d;
}

.services__item {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	padding: 60px 30px;
	text-align: center;
	background-color: #f8faff;
	box-sizing: border-box;
	transition: all 0.4s ease;
}
.services__item:hover {
	background-color: #5f30ff;
	cursor: pointer;
}
.services__item:hover .services__item__title,
.services__item:hover .services__item__description,
.services__item:hover .services__item__link {
	color: #ffffff;
}
.services__item__title {
	color: #05364d;
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.services__item__description {
	font-size: 14px;
	font-weight: 300;
	line-height: 27px;
	color: #797979;
}

.services__item__link {
	font-size: 13px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
	text-decoration: none;
	color: #05364d;
}

/* Clients section  */
.clients {
	padding: 70px 0;
}

.client-card > div {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.client-card__image img {
	width: 70%;
}

.client-card__info {
	padding-top: 40px;
	padding-right: 50px;
}
.client-card__name {
	font-size: 20px;
	margin-bottom: 4px;
}
.client-card__position {
	font-size: 16px;
	font-weight: 300;
	color: #5b6d73;
}

.client-card__review {
	font-size: 16px;
	line-height: 27px;
	font-weight: 300;
	color: #5b6d73;
}

.client-card__rate {
	color: #ffd805;
}
.client-card__rate .disabled {
	color: #5b6d73;
}

/* Portfolio section */
.portfolio {
	padding: 100px 0;
}
.portfolio__item {
	display: inline-block;
	padding-left: 0;
	margin-bottom: 30px;
}
.portfolio__list {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	/* color: #05364d; */
	cursor: pointer;
	transition: all 0.4s ease 0s;
}
.portfolio__list:hover {
	color: #1345e6;
}
.portfolio-cards {
	margin-top: 50px;
	position: relative;
}
.portfolio-card {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 50%;
	box-sizing: border-box;
	padding: 0 15px;
}
.portfolio-card-1 {
	padding-left: 0;
}
.portfolio-card-2 {
	position: absolute;
	top: 0;
	right: 0;
}
.portfolio-card-3 {
	position: absolute;
	top: 322px;
	right: 0;
}
.portfolio-card__image {
	width: 100%;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	transition: all 0.4s ease 0s;
}
.portfolio-card:hover .overlay {
	visibility: visible;
	top: 15px;
	left: 15px;
	background: rgba(19, 69, 230, 0.8);
	backdrop-filter: blur(1.5px);
}
.portfolio-card:hover .portfolio-card__info {
	visibility: visible;
	left: 60px;
	bottom: 24px;
}
.portfolio-card__info {
	position: absolute;
	bottom: 44px;
	left: 80px;
	color: #ffffff;
	visibility: hidden;
	transition: all 0.4s ease 0s;
}
.portfolio-card__info a {
	color: #ffffff;
	text-decoration: none;
}

/* Blog	 */

.blog {
	padding: 100px 0;
}

.blog-items {
	margin-top: 50px;
}
.blog-item {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	box-sizing: border-box;
	transition: all 0.4s ease 0s;
}
.blog-item:hover {
	box-shadow: 0px 10px 20px rgba(5, 54, 77, 0.1);
}
.blog-item:hover .blog-item__info {
	background-color: #ffffff;
}
.blog-item .blog-item__image {
	overflow: hidden;
	transition: all 0.4s ease 0s;
}
.blog-item__image img {
	width: 100%;
	height: auto;
	transition: all 0.4s ease 0s;
	box-sizing: border-box;
}
.blog-item:hover img {
	transform: scale(1.1);
}
.blog-item__info {
	background-color: #f8faff;
	padding: 20px;
	color: #797979;
}

.blog-item__main-info span {
	font-size: 13px;
	margin-right: 30px;
	font-weight: lighter;
}
.blog-item__title {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: 700;
	color: #05364d;
}
.blog-item__description {
	line-height: 27px;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 22px;
}
.blog-item__learn-more {
	font-size: 13px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
	text-decoration: none;
	color: #05364d;
	cursor: pointer;
}
.blog-item__learn-more:hover {
	color: #ed239f;
}

/* Partners */

.partners {
	padding: 100px 0;
}
.partners__item {
	display: inline-block;
	padding: 0 30px;
}
